h3{
  color:black;
  text-align: center;
}
body{
  background-color: blue;
  
}
h2{
  display: flex;
  justify-content: center;

}
p{
  text-align: center;
  color: rgb(165, 153, 42);
}